# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [25]:
# import numpy and pandas

import numpy as np
import pandas as pd

from statsmodels.stats.weightstats import ztest
from scipy import stats
from scipy.stats import ttest_1samp

import seaborn as sns
import matplotlib.pylab as plt

from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:

df = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')
df

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

df['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [6]:
df_annual = df[df['Salary or Hourly'] == 'Salary'] 
df_hourly = df[df['Salary or Hourly'] == 'Hourly'] 
df_annual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25161 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               25161 non-null  object
 1   Job Titles         25161 non-null  object
 2   Department         25161 non-null  object
 3   Full or Part-Time  25161 non-null  object
 4   Salary or Hourly   25161 non-null  object
 5   Typical Hours      0 non-null      float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 1.7+ MB

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:

df.groupby('Department')['Name'].count().sort_values(ascending=False)

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:

# HipÃ³tesis nula: si la media del salary de hourly es igual de $30/hr >> Lo que queremos testear
# HipÃ³tesis alternativa: la media del salary de hourly es diferente a $30/hr  >> Lo que creemos que puede ser contrario
# Alpha es 1-0.95 = 0.05

hypothesis_mean = 30

sample_mean = df_hourly['Hourly Rate'].mean()

alpha = 0.05

print(f'Hypothesis mean: {hypothesis_mean} $/hrs',
      f'\nSample mean: {sample_mean} $/hrs',
      f'\nProbability threshold: {alpha}')

Z_score, p_value = ztest(df_hourly['Hourly Rate'], value=hypothesis_mean)

print(f'Z_score: {Z_score}', f'\np-value: {p_value}')

# Como el p-value es muchÃ­simo mÃ¡s pequeÃ±o que el alpha, se rechaza la H0 (la media NO es igual a 30)

Hypothesis mean: 30 $/hrs
Sample mean: 32.78855771628024 $/hrs
Probability threshold: 0.05
Z_score: 20.6198057854942
p-value: 1.8228873859286195e-94

In [9]:
if p_value < alpha:
    print('Se rechaza la H0')
else:
    print('No se rechaza')

Se rechaza la H0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
df_polices = df_annual[df_annual['Department'] == 'POLICE']
df_polices

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [11]:
df_polices['Annual Salary'].mean()

86486.41450313339

In [14]:
# Your code here:

# H0: la media del salario de policÃ­a < $86000/year 
# H1: la media del salario de policÃ­a >= $86000/year

# alpha = 0.05

hypothesis_mean = 86000

# dpto_policia = df[df['Department'] == 'POLICE'] 
sample_mean_policia = df_polices['Annual Salary'].mean()

alpha = 0.05

print(f'Hypothesis mean: {hypothesis_mean} $/hrs',
      f'\nSample mean police: {sample_mean_policia} $/hrs',
      f'\nProbability threshold: {alpha}')

Z_score, p_value = ztest(df_polices['Annual Salary'], value=hypothesis_mean)

print(f'Z_score: {Z_score}', f'\np-value: {p_value}')

# Como el p-value es mÃ¡s pequeÃ±o que el alpha, se rechaza la H0

Hypothesis mean: 86000 $/hrs
Sample mean police: 86486.41450313339 $/hrs
Probability threshold: 0.05
Z_score: 3.081997005712994
p-value: 0.002056169057509571

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
# Your code here:
# Usando la funciÃ³n de tabla cruzada, encuentre el departamento que tiene la mayor cantidad de trabajadores por horas.
# La funciÃ³n pandas.crosstab devuelve la tabla de contingencia resultante de cruzar dos o mÃ¡s campos de un dataframe.


result = pd.crosstab(index=df_hourly['Department'], columns='Total Workers', values=df_hourly['Typical Hours'], aggfunc='sum')
result.sort_values(by='Total Workers', ascending=False)

#print('El departamento con mayor cantidad de trabajadores por horas es STREETS & SAN')

col_0                  Total Workers
Department
STREETS & SAN                69150.0
WATER MGMNT                  60520.0
AVIATION                     42845.0
GENERAL SERVICES             30600.0
TRANSPORTN                   29000.0
OEMC                         26340.0
PUBLIC LIBRARY                6200.0
FAMILY & SUPPORT              5760.0
FINANCE                       1720.0
CITY COUNCIL                  1540.0
LAW                           1385.0
ANIMAL CONTRL                  370.0
MAYOR'S OFFICE                 265.0
CULTURAL AFFAIRS               245.0
POLICE                         200.0
BUSINESS AFFAIRS               140.0
HUMAN RESOURCES                110.0
HEALTH                         105.0
COMMUNITY DEVELOPMENT           95.0
FIRE                            80.0
PROCUREMENT                     80.0
BUDGET & MGMT                   70.0

In [ ]:
# Info crosstab: https://interactivechaos.com/es/python/function/pandascrosstab

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Los trabajadores del departamento con mÃ¡s trabajadores por hora se han quejado de que su salario 
# por hora es inferior a 35 dÃ³lares la hora. Utilizando una prueba t de una muestra, 
# pruebe esta hipÃ³tesis unilateral con un nivel de confianza del 95%.

In [17]:
# H0: la media del salario/hora del dpto Streets & SAN es < 35$/h
# H1: la media del salario/hora del dpto Streets & SAN es => 35$/h

alpha = 0.05

hypothesis_mean = 35

streets = df_hourly[df_hourly['Department'] == 'STREETS & SAN']

t_stat, p_value = ttest_1samp(streets['Hourly Rate'], hypothesis_mean)
print('T-statistic value: ', t_stat)
print('P-value: ', p_value)

T-statistic value:  -9.567447887848152
P-value:  3.3378530564707717e-21

In [18]:
if p_value < alpha:
    print('Rechazamos la hipÃ³tesis nula')
else:
    print('No podemos rechazar la hipÃ³tesis nula')

Rechazamos la hipÃ³tesis nula

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [20]:
# Your code here:

confi_interval = stats.t.interval(confidence=0.95, df=len(df_hourly)-1, loc=np.mean(df_hourly['Hourly Rate']), scale=stats.sem(df_hourly['Hourly Rate']))

In [21]:
confi_interval

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [22]:
# Your code here:

confi_interval_police = stats.t.interval(confidence=0.95, df=len(df_polices)-1, loc=np.mean(df_polices['Annual Salary']), scale=stats.sem(df_polices['Annual Salary']))
confi_interval_police

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
utilice la funciÃ³n proporcionales_ztest de statsmodels para realizar una prueba de hipÃ³tesis que determinarÃ¡ 
si el nÃºmero de trabajadores por hora en la ciudad de Chicago es significativamente diferente del 25 % 
con un nivel de confianza del 95 %.

In [30]:
# Your code here:

# H0: el nÃºmero de trabajadores por hora en la ciudad de Chicago es significativamente diferente del 25% 

proportion = 0.25
workers_hourly = len(df_hourly)
total = len(df)
alpha = 0.05

z_statistic, p_value = proportions_ztest(workers_hourly, total, proportion)
if p_value < alpha:
    print('Rechazamos H0')
else:
    print('No rechazamos H0')

Rechazamos H0