# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
# your code here
import numpy as np
import pandas as pd

#### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [13]:
# your code here

l1 = pd.Series(lst)

"""
print(l1.index)   # index
print(l1.size)    # n elementos total 
print(type(l1))   # type del objeto > pandas.serie
print(l1.dtype)   # type de los elementos internos
print(l1.shape)   # tamaño de dimensiones
print(l1.ndim)    # n. dimensiones
print(l1.head())  # view de los 5 primeros 
"""

RangeIndex(start=0, stop=10, step=1)
10
<class 'pandas.core.series.Series'>
float64
(10,)
1
0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [14]:
# your code here

l1.loc[2,]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [15]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [20]:
# your code here
df_b = pd.DataFrame(b)


"""
print(df_b.head())
print(df_b.shape)
"""

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
(10, 5)

#### 5. Rename the data frame columns based on the names in the list below.

In [21]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [28]:
# your code here

df_b = df_b.set_axis(colnames, axis=1)   # Indexa las etiquetas por columnas o filas. (axis 0 or index vs axis 1 or columns)
# df_b.columns = colnames                 # También puede ser asignado directamente.

# print(df_b.head())

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [34]:
# your code here
df_c = df_b[['Score_1', 'Score_3', 'Score_5']].copy()   # Otra alternativa es con .filter(['Score:1, '...''], axil=1)

"""
print(df_c.head())
print(df_c.shape)
"""

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
(10, 3)

#### 7. From the original data frame, calculate the average Score_3 value.

In [36]:
# your code here
print(df_b.describe())         # Forma genérica para ver todos los cálculos en todas las columns

print(df_b['Score_3'].mean())  # Forma concreta indicando qué column y qué calculo.

        Score_1   Score_2    Score_3    Score_4    Score_5
count  10.00000  10.00000  10.000000  10.000000  10.000000
mean   54.62000  50.11000  56.950000  47.280000  63.250000
std    25.64899  32.12204  30.168278  31.393446  24.562313
min    20.60000   0.10000   0.100000   4.200000  26.900000
25%    32.95000  29.55000  43.450000  25.050000  39.450000
50%    55.25000  40.75000  53.600000  36.400000  69.000000
75%    70.60000  72.15000  80.925000  79.300000  85.300000
max    96.60000  96.40000  96.100000  88.800000  91.800000
56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [37]:
# your code here
print(df_b['Score_4'].max())

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

In [38]:
# your code here
print(df_b['Score_2'].median())

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [39]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [44]:
# your code here

df_d = pd.DataFrame(orders)


"""
print(df_d.index)   # index
print(df_d.size)    # n elementos total 
print(df_d.shape)   # tamaño de dimensiones
print(df_d.head())  # view de los 5 primeros
print(df_d.tail())  # view de los 5 ultimos
"""

RangeIndex(start=0, stop=10, step=1)
40
(10, 4)
                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
                      Description  Quantity  UnitPrice  Revenue
5                  POPCORN HOLDER         7       0.85     5.95
6  BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                   PARTY BUNTING         4       4.95    19.80
8        JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9   SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [48]:
# your code here

total_quantity = df_d["Quantity"].sum()
print("Total quantity ordered:", total_quantity)

total_revenue = df_d["Revenue"].sum()
print("Total revenue generated:", total_revenue)

# Suma acumulada con groupby para calcular la suma acumulativa de una columna agrupada por información de otras columns:
# https://www.delftstack.com/es/howto/python-pandas/how-to-get-the-sum-of-pandas-column/

Total quantity ordered: 2978
Total revenue generated: 637.0

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [51]:
# your code here
item_max = df_d['UnitPrice'].max()
item_min = df_d['UnitPrice'].min()
item_difference = item_max - item_min

In [52]:
print(item_max)
print(item_min)
print(item_difference)

11.95
0.18
11.77

In [54]:
print(f'The differente between {item_max} and {item_min} is {item_difference}')

The differente between 11.95 and 0.18 is 11.77